* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.navbar {
    background-color: #000;
    color: #d8d8d8;
    border-bottom: 0.5px solid gray;
    width: 100%;
    line-height: 80px;
    height:80px;
    font-size: 18px;
    padding: 0 30px;
    position: absolute;
    top:0;
    left:0;
    font-family: 'Karla';
}

.navbar a {
    text-decoration: none;
    color: #d8d8d8;
}

.navbar a.nav-logo {
    float: left;
    height: inherit;
    line-height:inherit;
    padding: 0 30px;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family:'Karla';
    color: #d8d8d8;
    font-weight: bold;

}
.navbar ul {
    float: right;
    list-style: none;
    height: inherit;
    line-height:inherit;
    padding: 0 50px;

}
.navbar ul li {

    display: inline-block;
}

.navbar ul li a {
    display: block;
    text-align: center;
    min-width: 120px;
    padding: 0 30px;
}

.navbar ul li a:hover {
    background-color:gray;
}

.content {
    font-family: 'Karla';
    color: #d8d8d8;
    margin-top: 30%;
    margin-left: 100px;
}

/* Author: Karen Kimmel & Carlos LOGIN FORM CSS */
.container {
max-width: 700px;
width: 100%;
background: #fff;
padding: 25px 30px;
border-radius: 5px;
}

.container .title {
font-size: 25px;
font-weight: 500;
position: relative;
}

.container .title::before {
content: '';
position: absolute;
left: 0;
bottom: 0;
height: 3px;
width: 30px;
background: linear-gradient(#71b7e6, #9b59b6);
}

.message-details {
font-size: 16px;
font-weight: 500;
margin: 10px 0;

}
.container form .user-details {
display: flex; 
flex-flow: wrap;
justify-content: space-between;
margin: 20px 0 12px 0;
}

form .user-details .input-box {
margin-bottom: 15px;
width: calc(100% / 2 - 20px);
}

.user-details .input-box .details {
display: block;
font-weight: 500;
margin-bottom: 5px;
}

.user-details .input-box input {
height: 45px;
width: 100%;
outline: none;
border-radius: 5px;
border: 1px solid #ccc;
padding-left: 15px;
font-size: 12px;
border-bottom-width: 2px;
transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
border-color: #9b59b6
}

form .forgot-password {
	font-size: 16px;
	font-weight: 500;
	margin: 10px 0;
}

form .SignUp-Link {
	font-size: 16px;
	font-weight: 500;	
	margin: 10px 0;
}

form .button {
	height: 35px;
	margin: 35px 0;	
}

form .button input {
	height: 100%;
	width: 100%;
	outline: none;
	color: #fff;
	border: none;
	font-size: 16px;
	font-weight: 500; 
	letter-spacing: 1px;
	border-radius: 5px;
	background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

form .button input:hover {
background: linear-gradient(#848482);    
cursor: pointer;
}
